{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
      {% block css %}
        <link href="{% static "bootstrap/css/home.css" %}" rel="stylesheet">
        <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
        <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
      {% endblock %}
      <title>{% block title %}LB2 Cadencia{% endblock %}</title>
  </head>
<body>
{% block navbar %}
 <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">LB2 Cadencia</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/projeto">Novo Projeto</a></li>
            <li><a href="/cadencia">Minhas Cadências</a></li>
          </ul>
        </div>
        <!--<ul class="nav navbar-nav navbar-right">
            <li>Propostas Ativas:5</li>
            <li>Total de Propostas: R$ 96.000,00</li>
            <li>Pipeline: R$ 111.425,00</li>
            <li>Total de Propostas:3</li>
        </ul>-->
      </div>
    </nav>
{% endblock %}
<div id="content">{% block content %}{% endblock %}</div>
{% block scripts %}
    <script src="{% static "bootstrap/js/jquery-2.1.1.min.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
{% endblock %}
</body>
</html>