{% extends "base.html" %}

{% block title %}LB2 Cadencia{% endblock %}

{% block content %}
    <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Propostas Ativas</th>
                        <th>{{ qpa|default:"Sem propostas ativas" }}</th>
                    </tr>
                    <tr>
                        <th>Total de Propostas</th>
                        <th>{{ vpa|default:"Sem propostas ativas" }}</th>
                    </tr>
                    <tr>
                        <th>Pipeline</th>
                        <th>{{ pipe|default:"Sem propostas ativas" }}</th>
                    </tr>
                    <tr>
                        <th>Quantidade de Projetos</th>
                        <th>{{ qt_propostas|default:"Não existe nenhum projeto" }}</th>
                    </tr>
                </thead>
            </table>
        </div>
{% endblock %}
