{% extends "base.html" %}
{% load staticfiles %}
{% block title %}LB2 Cadencia{% endblock %}

{% block content %}
    <div class="lb2_jumbotron jumbotron" onload="mas">
        <h1>LB2 Cadência</h1>
        <div id="container" style="min-width: 250px; height: 300px; margin: 0 auto"></div>
        <p content="asdasd"><h4 id="qpa" onload="maskMe(this.id,{{qpa}})">Quantidade de Projetos : {{ qpa|default:"Sem propostas ativas" }}</h4></p>
        <p><h4>Projetos com Proposta : {{ qt_propostas|default:"Não existe nenhum projeto" }}</h4></p>
        <p><h4 id="vpa">Valor Total em Propostas : {{ vpa|default:"Sem propostas ativas" }}</h4></p>
        <p><h4>Pipeline : {{ pipe|default:"Sem propostas ativas" }}</h4></p>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static "bootstrap/js/jquery-2.1.1.min.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
    <script src="{% static "bootstrap/js/jquery.maskMoney.min.js" %}"></script>
    <script src="{% static "bootstrap/js/highcharts.js" %}"></script>
    <script src="{% static "bootstrap/js/exporting.js" %}"></script>
    <script type="text/javascript">
        var datas = {{ datas|safe }};
        var propostas = {{ propostas|safe }};
        var projetos = {{ projetos|safe }};
        var pipeline = {{ pipeline| safe }}
        $(function () {
            $('#container').highcharts({
            chart: {
                type: 'line'
            },
            title: {
                text: 'LB2 Cadencia'
            },
            xAxis: {
            categories: datas
            },
            yAxis: {
            title: {
                text: 'Valor'
            }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                },
                enableMouseTracking: true
            }
            },
            series: [
                {
                    name: 'Quant. Propostas',
                    data: propostas
                },
                {
                    name: 'Quant. Projetos',
                    data: projetos
                },
                {
                    name: 'Pipeline',
                    data: pipeline
                }
            ]
            });
        });
        function maskMe(id,valor){
            var val = $(id).maskMoney('mask', valor);
        }
    </script>
{% endblock %}